<% layout('layout') -%>

<div class="container">
	<div class="title">
		<h3><%= message %></h3>
	</div>

	<div class="change-month">
		<nav aria-label="Page navigation">
			<ul class="pagination justify-content-center">

					<li class="page-item"><a class="page-link-pre" href="javascript:preForm.submit()">先月</a></li>


					<li class="page-item"><a class="page-link" id="thisMonth"><%= year %>/<%= month %></a></li>

					<li class="page-item"><a class="page-link-next" href="javascript:nextForm.submit()">来月</a></li>


			</ul>
		</nav>
	</div>
	<form action="/calendar/changeMonth" method="post" name="preForm">
		<input type="hidden" name="year" value="<%= preYear %>" />
		<input type="hidden" name="month" value="<%= preMonth %>" />
	</form>
	<form action="/calendar/changeMonth" method="post" name="nextForm">
		<input type="hidden" name="year" value="<%= nextYear %>" />
		<input type="hidden" name="month" value="<%= nextMonth %>" />
	</form>

	<div class="calendar-main">
		<table class="table table-bordered">
			<thead>
				<tr>
					<td align="center" class="bg-holiday">日</td>
					<td align="center">月</td>
					<td align="center">火</td>
					<td align="center">水</td>
					<td align="center">木</td>
					<td align="center">金</td>
					<td align="center" class="bg-holiday">土</td>
				</tr>
			</thead>
			<tbody class="calendarBody">
			</tbody>

		</table>
	</div>
</div>

<!-- モーダル・ダイアログ -->
<div class="modal fade" id="calendarModal" tabindex="-1">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span>×</span></button>
				<h4 class="modal-title">日の予定詳細</h4>
			</div>
			<div class="modal-body">
				<!-- タブ・メニュー -->
				<ul class="nav nav-tabs">
					<li class="active"><a href="#modalTabA" data-toggle="tab">みんなの予定</a></li>
					<li><a href="#modalTabB" data-toggle="tab">WG設定</a></li>
				</ul>
				<!-- タブ内容 -->
				<div class="tab-content">
					<div class="tab-pane active" id="modalTabA">
						<p>タブＡの内容</p>
						
					</div>
					<div class="tab-pane" id="modalTabB">
						<label class="control-label" for="InputTextarea">活動日に設定するなら内容をいれてね</label>
						<form class="form-horizontal" method="post" action="/calendar/wgSubmit">
							<div class="form-group">
								<div class="col-sm-10">
									<textarea placeholder="活動内容（25文字以内でお願いします）" rows="2" class="form-control" id="InputTextarea" maxlength="25"></textarea>
								</div>
							</div>
							<button type="submit" class="btn btn-primary">活動日登録</button>
						</form>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">閉じる</button>
			</div>
		</div>
	</div>
</div>


<% block("header_scripts","<link rel='stylesheet' href='/public/stylesheets/calendar.css' />") -%>
<% block("footer_script1","") -%>
<% block("footer_script2","<script type='text/javascript' src='/public/javascripts/calendar.js'></script>") -%>