<% layout('layout') -%>

<div class="container">
	<div class="title">
		<h3><%= message %></h3>
	</div>

	<div class="change-month">
		<nav aria-label="Page navigation">
			<ul class="pagination justify-content-center">

					<li class="page-item"><a class="page-link-pre" href="javascript:preForm.submit()">先月</a></li>


					<li class="page-item"><a class="page-link" id="thisMonth"><%= year %>/<%= month %></a></li>

					<li class="page-item"><a class="page-link-next" href="javascript:nextForm.submit()">来月</a></li>


			</ul>
		</nav>
	</div>
	<form action="/calendar/changeMonth" method="post" name="preForm">
		<input type="hidden" name="year" value="<%= preYear %>" />
		<input type="hidden" name="month" value="<%= preMonth %>" />
	</form>
	<form action="/calendar/changeMonth" method="post" name="nextForm">
		<input type="hidden" name="year" value="<%= nextYear %>" />
		<input type="hidden" name="month" value="<%= nextMonth %>" />
	</form>

	<div class="calendar-main">
		<table class="table table-bordered">
			<thead>
				<tr>
					<td align="center" class="bg-holiday">日</td>
					<td align="center">月</td>
					<td align="center">火</td>
					<td align="center">水</td>
					<td align="center">木</td>
					<td align="center">金</td>
					<td align="center" class="bg-holiday">土</td>
				</tr>
			</thead>
			<tbody class="calendarBody">
			</tbody>

		</table>
	</div>
</div>

<!-- モーダル・ダイアログ -->
<div class="modal fade" id="calendarModal" tabindex="-1">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span>×</span></button>
				<h4 class="modal-title">日の予定詳細</h4>
			</div>
			<div class="modal-body">
				本文
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">閉じる</button>
				<button type="button" class="btn btn-primary">ボタン</button>
			</div>
		</div>
	</div>
</div>


<% block("header_scripts","<link rel='stylesheet' href='/public/stylesheets/calendar.css' />") -%>
<% block("footer_script1","") -%>
<% block("footer_script2","<script type='text/javascript' src='/public/javascripts/calendar.js'></script>") -%>