<% layout('layout') -%>

<div class="container">
	<div class="title">
		<h3><%= message %></h3>
	</div>

	<div class="change-month">
		<nav aria-label="Page navigation">
			<ul class="pagination justify-content-center">

					<li class="page-item"><a class="page-link-pre" href="javascript:preForm.submit()">先月</a></li>


					<li class="page-item"><a class="page-link" id="thisMonth"><%= year %>/<%= month %></a></li>

					<li class="page-item"><a class="page-link-next" href="javascript:nextForm.submit()">来月</a></li>


			</ul>
		</nav>
	</div>
	<form action="/calendar/changeMonth" method="post" name="preForm">
		<input type="hidden" name="year" value="<%= preYear %>" />
		<input type="hidden" name="month" value="<%= preMonth %>" />
	</form>
	<form action="/calendar/changeMonth" method="post" name="nextForm">
		<input type="hidden" name="year" value="<%= nextYear %>" />
		<input type="hidden" name="month" value="<%= nextMonth %>" />
	</form>

	<div class="calendar-main">
		<div class="panel panel-default">
			<table class="table table-bordered table-responsive">
				<thead>
					<tr class="bg-primary">
						<td align="center" class="bg-holiday">日</td>
						<td align="center">月</td>
						<td align="center">火</td>
						<td align="center">水</td>
						<td align="center">木</td>
						<td align="center">金</td>
						<td align="center" class="bg-holiday">土</td>
					</tr>
				</thead>
				<tbody class="calendarBody">
				</tbody>
				<% var idx = 0 %>
				<% schList.forEach(function(schItem) { %>
					<input type="hidden" name="schList<%= idx %>" id="schList<%= idx %>"
						value="<%= schItem.SCH_DATE %>,<%= schItem.USER_NAME %>,<%= schItem.WG_FLG %>,<%= schItem.KARI_FLG %>,<%= schItem.SCH_KBN %>,<%= schItem.COMMENT %>" />
				<% idx++ %>
				<% }); %>
				<input type="hidden" name="schCnt" id="schCnt" value="<%= idx %>" />
				<input type="hidden" name="schTest" id="schTest" value="<%= schList %>" />
			</table>
		</div>
	</div>
</div>

<!-- モーダル・ダイアログ -->
<div class="modal fade" id="calendarModal" tabindex="-1">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span>×</span></button>
				<h4 class="modal-title">日の予定詳細</h4>
			</div>
			<div class="modal-body">
				<!-- タブ・メニュー -->
				<ul class="nav nav-tabs">
					<li class="active"><a href="#modalTabA" data-toggle="tab">みんなの予定</a></li>
					<li><a href="#modalTabB" data-toggle="tab">活動日設定</a></li>
				</ul>
				<!-- タブ内容 -->
				<div class="tab-content">
					<div class="tab-pane active" id="modalTabA">
						<br/><label class="control-label" for="InputTextarea">みんなの予定だよ</label>
						<div class="col-sm-12">
							<ul class="list-group" id="list-sch">
							</ul>
						</div>
						<br /> <label class="control-label" for="select-sch">キミの予定をいれてね</label>
						<form class="form-horizontal" method="post" action="/calendar/submitSch">
							<div class="form-group">
								<div class="col-sm-6">
									<select class="form-control" id="select-sch" name="select_sch">
										<option value="1">OK</option>
										<option value="2">微妙</option>
										<option value="3">ダメ</option>
									</select>
								</div>
								<div class="col-sm-12">
									<label class="control-label" for="InputTextarea">コメント</label>
									<textarea placeholder="備考（25文字以内）" rows="2" class="form-control"
										id="TextareaSch" maxlength="50" name="comment"></textarea>
									<div class="checkbox">
											<label><input type="checkbox" value="1" name="CB_schDel">予定削除</label>
									</div>
								</div>
							</div>
							<button type="submit" class="btn btn-primary">予定登録</button>
							<input type="hidden" name="year" value="<%= year %>" />
							<input type="hidden" name="month" value="<%= month %>" />
							<input type="hidden" name="day" id="schDay" />
						</form>
					</div>
					<div class="tab-pane" id="modalTabB">
					<br/>
						<label class="control-label" for="InputTextarea">活動日に設定するなら内容をいれてね</label>
						<form class="form-horizontal" method="post" action="/calendar/submitWg">
							<div class="form-group">
								<div class="col-sm-12">
									<textarea placeholder="活動内容（50文字以内）" rows="3" name="comment"
										class="form-control" id="TextareaWg" maxlength="50"></textarea>
									<div class="checkbox">
										<label><input type="checkbox" value="1" name="CB_kari">仮日程</label>
									</div>
									<div class="checkbox">
										<label><input type="checkbox" value="1" name="CB_del">日程削除</label>
									</div>
								</div>
							</div>
							<button type="submit" class="btn btn-primary">活動日登録</button>
							<input type="hidden" name="year" value="<%= year %>" />
							<input type="hidden" name="month" value="<%= month %>" />
							<input type="hidden" name="day" id="wgDay" />
						</form>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">閉じる</button>
			</div>
		</div>
	</div>
</div>


<% block("header_scripts","<link rel='stylesheet' href='/public/stylesheets/calendar.css' />") -%>
<% block("footer_script1","") -%>
<% block("footer_script2","<script type='text/javascript' src='/public/javascripts/calendar.js'></script>") -%>