<% layout('layout') -%>

<div class="container">
	<div class="title">
		<h2><%= message %></h2>
	</div>
	<div class="table-responsive">
		<table class="table table-striped">
			<thead>
				<tr>
					<th>RoomNo</th>
					<th>ルーム名</th>
					<th>シークレット</th>
					<th>作成日時</th>
					<th>ルーム削除</th>
				</tr>
			</thead>
			<tbody>
				<% roomList.forEach(function(roomItem) { %> <% if (roomItem.DEL_FLG === '0') { %>
				<tr>
					<form action="/chatRoom" method="post">
						<th scope="row"><button class="btn btn-primary active" name="enter" type="submit" value="<%= roomItem.ROOM_ID %>">No.<%= roomItem.ROOM_ID %></button></th>
						<td><%= roomItem.ROOM_NAME %></td>
						<% if (roomItem.PASSWORD !== null) { %>
							<td><input type="password" class="form-control" name="enterPass" placeholder="パスワード"></td>
						<% } else {%>
							<td>パスなし</td>
						<% } %>
					</form>
						<td><%= roomItem.INS_DATE %></td>
					<form action="/chatMain/del" method="post">
						<th><button class="btn btn-primary" name="delRoom" type="submit" value="<%= roomItem.ROOM_ID %>">DELETE</button></th>
					</form>
				</tr>
				<% } %> <% }); %>
			</tbody>
		</table>
	</div>
	<div>
		<h3 class="new-room">ルーム作成</h3>
		<form action="/chatMain" method="post">
			<div class="form-group">
				<label for="roomName">ルーム名</label>
				<input type="text" class="form-control" name="roomName" placeholder="Room Name">
			</div>
			<div class="form-group">
				<label for="password">パスワード</label>
				<input type="password" class="form-control" name="password" placeholder="必要なら入力">
			</div>
			<button type="submit" class="btn btn-primary" formmethod="post">作成</button>
		</form>
	</div>
</div>

<% block("header_scripts","<link rel='stylesheet' href='/public/stylesheets/chatMain.css' />") -%>
<% block("footer_script1","") -%>
<% block("footer_script2","<script type='text/javascript' src='/public/javascripts/chatMain.js'></script>") -%>