<% layout('layout') -%>

<div class="container">
	<div class="title">
		<h1><%= message %></h1>
	</div>
	<div class="table-responsive">
		<table class="table table-striped">
			<thead class="thead-inverse">
				<tr>
					<th>RoomNo</th>
					<th>ルーム名</th>
					<th>作成日時</th>
					<th>シークレット</th>
				</tr>
			</thead>
			<tbody>
				<form action="/chatRoom" method="post">
					<% roomList.forEach(function(roomItem) { %> <% if (roomItem.DEL_FLG === '0') { %>
					<tr>
						<th scope="row"><button class="btn btn-primary active" name="enter" type="submit" value="<%= roomItem.ROOM_ID %>">入室_<%= roomItem.ROOM_ID %></button></th>
						<td><%= roomItem.ROOM_NAME %></td>
						<td><%= roomItem.INS_DATE %></td>
						<td><input type="password" class="form-control" name="enterPass" placeholder="パスワード"></td>
					</tr>
					<% } %> <% }); %>
				</form>
			</tbody>
			<tbody>
				<form action="/chatMain" method="post">
					<tr>
						<th scope="row"><button type="submit" class="btn btn-primary" formmethod="post">作成</button></th>
						<div class="form-group">
							<td><input type="text" class="form-control" name="roomName" placeholder="ルーム名"></td>
						</div>
						<td>現在日時</td>
						<div class="form-group">
							<td><input type="password" class="form-control" name="password" placeholder="必要ならパスワード入力"></td>
						</div>
					</tr>
				</form>
			</tbody>
		</table>
	</div>
</div>

<% block("header_scripts","<link rel='stylesheet' href='/public/stylesheets/chatMain.css' />") -%>
<% block("footer_script1","") -%>
<% block("footer_script2","<script type='text/javascript' src='/public/javascripts/chatMain.js'></script>") -%>