<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title><%= title %></title>
<link rel="stylesheet"
	href="/public/third_party/Umi/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="/public/stylesheets/layout.css" />
<%- blocks.header_scripts %>
<link rel="shortcut icon" href="/public/images/favicons/favicon.ico" type="image/vnd.microsoft.icon">
<link rel="icon" href="/public/images/favicons/favicon.ico" type="image/vnd.microsoft.icon">
<link rel="apple-touch-icon" sizes="57x57" href="/public/images/favicons/apple-touch-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="/public/images/favicons/apple-touch-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="/public/images/favicons/apple-touch-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="/public/images/favicons/apple-touch-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="/public/images/favicons/apple-touch-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="/public/images/favicons/apple-touch-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="/public/images/favicons/apple-touch-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="/public/images/favicons/apple-touch-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="/public/images/favicons/apple-touch-icon-180x180.png">
<link rel="icon" type="image/png" href="/public/images/favicons/android-chrome-192x192.png" sizes="192x192">
<link rel="icon" type="image/png" href="/public/images/favicons/favicon-48x48.png" sizes="48x48">
<link rel="icon" type="image/png" href="/public/images/favicons/favicon-96x96.png" sizes="96x96">
<link rel="icon" type="image/png" href="/public/images/favicons/favicon-160x160.png" sizes="96x96">
<link rel="icon" type="image/png" href="/public/images/favicons/favicon-196x196.png" sizes="96x96">
<link rel="icon" type="image/png" href="/public/images/favicons/favicon-16x16.png" sizes="16x16">
<link rel="icon" type="image/png" href="/public/images/favicons/favicon-32x32.png" sizes="32x32">
<link rel="manifest" href="/public/images/favicons/manifest.json">
<meta name="msapplication-TileColor" content="#2d88ef">
<meta name="msapplication-TileImage" content="/mstile-144x144.png">
</head>
<body>
	<header>
		<nav class="navbar navbar-default navbar-fixed-top bg-primary" id=menu-wrap>
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed"
						data-toggle="collapse" data-target="#navbar" aria-expanded="false"
						aria-controls="navbar">
						<span class="sr-only">Toggle navigation</span> <span
							class="icon-bar"></span> <span class="icon-bar"></span> <span
							class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="/"></a>
				</div>
				<div id="navbar" class="collapse navbar-collapse">
					<ul class="nav navbar-nav">
						<li id="nvHome"><a href="/">Home</a></li>
						<li id="nvChatRoom"><a href="/chatMain">ChatRoom</a></li>
						<li id="nvCalendar"><a href="/calendar">カレンダー</a></li>
						<li id="nvManagement"><a href="/management">管理ページ</a></li>
						<% if (typeof userName !== 'undefined') { %>
							<li id="nvLogout"><a href="/logout">ログアウト（<%= userName %>）</a></li>
						<% } else { %>
							<li id="nvRegister"><a href="/register">メンバー登録</a></li>
							<li id="nvLogin"><a href="/login">ログイン</a></li>
						<% } %>
					</ul>
				</div>
			</div>
		</nav>
	</header>

	<%- body %>

	<footer class="footer">
		<div class="container">
			<p class="text-primary">&copy; 2016  groupwork.tech</p>
		</div>
	</footer>

	<%- blocks.footer_script1 %>
	<script type="text/javascript"
		src="/public/third_party/jquery/dist/jquery.js"></script>
	<script type="text/javascript"
		src="/public/javascripts/layout.js"></script>
	<script type="text/javascript"
		src="/public/third_party/Umi/dist/js/bootstrap.min.js"></script>
	<%- blocks.footer_script2 %>
</body>
</html>
